body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    text-align: center;
    background: #40d57c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 400px;
}

#game-title {
    margin: 10px 0;
}

#game-info p {
    margin: 5px 0;
    font-size: 18px;
}

#play-area {
    position: relative;
    width: 100%;
    height: 300px;
    background: #c4d6fa;
    border: 2px dashed #6e9bf7;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
}

.circle {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #ff7300;
    border-radius: 50%;
    cursor: pointer;
    animation: fade-out 5s ease-in-out forwards;
}

@keyframes fade-out {
    0% {
        opacity: 20;
    }
    100% {
        opacity: 0;
    }
}

#start-button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #ff0000;
    color: rgb(237, 245, 246);
    border-radius: 5px;
    cursor: pointer;
}

#start-button:hover {
    background-color: #0056b3;
}
